@media (max-width: 949px) {
/*estilos para mobile*/
	.container {
		width: 96%;
	}

	header h1 {
		text-align: center;
	}

	header h1 img {
		max-width: 50%;
		margin: 2%;
	}

	.sacola {
		display: none;	
	}

	.menu-opcoes {
		position: static;
		text-align: center;
		margin: 2%;
	}

	.menu-opcoes ul li {
		display: inline-block;
		margin: 5px;
	}

	 .busca,
	 .menu-departamentos,
	 .banner-destaque img {
	   margin-right: 0%;
	   width: 100%;
	 }

	 .painel {
	 	width: auto;
	 }

	 .painel li {
	 	width: 30%;
	 }

	 .painel img {
	 	width: 100%;
	 }
}

body {
   		color: #333333;
   		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 	}
/* coloca o header com uma posição relativa*/

 	header {
 		position: relative;
 	}

 	.container {
 		margin: 0 auto;
 		width: 940px;
 	}

 	/*
		aqui as opções do menu
	*/

	.menu-opcoes ul {
	   font-size: 100%; /*tamanho da fonte dentro do ul*/
	 }

	.menu-opcoes a {
	    color: #003366; /*coloca a cor no link*/
	 }

	.menu-opcoes a:hover {
		color: #007DC6;
	}

	.menu-opcoes a:active {
		color: #867DC6;
	}

	.menu-opcoes ul li { /*coloca o menu em linha e margens externas a esquerda*/
	 	display: inline;
	 	margin-left: 20px;
	 }

	/*
	Busca e menu departamento 
	Busca e menu departamento 
	Busca e menu departamento 
	Busca e menu departamento 
	Busca e menu departamento 

*/

/* muda o background, o peso da fonte, transforma td em maiusculo adiciona a margem externa a direita de 10px e estabelece uma largura de 230px;*/

	.busca,
	.menu-departamentos {
	   background-color: #DCDCDC;
	   font-weight: bold;
	   text-transform: uppercase;

	   padding-left: 0%;
	   max-width: 100%;
	 }

/*
	estabelece margens externas para os titulos h2 e a caixa de busca
*/
	.busca h2,
	.menu-departamentos h2,
	.busca form {
	   margin: 1%;
	 }
/*
	altera a cor do background dos itens do menu, visto que o anterior estabelecido era cinza, fica branco
	adiciona margem acima de 1 px
	e margem interna de 5px acima e 10px abaixo
*/

	.menu-departamentos li {
	 	margin-bottom: 0.1%;
	 	padding-left: 5px;
	 	padding: 0.5%;
		background-color: white;
		display: block;
	 }

/*
	muda a cor e a decoração dos links
*/
	 .menu-departamentos a {
	   color: #333333;
	   text-decoration: none;
	 }

	 .menu-departamentos li ul {
	 	display: none;
	 }

	 .menu-departamentos li:hover ul {
	 	display: block;
	 }

	 .menu-departamentos ul ul li {
	 	background-color: #DCDCDC;
	 }
/*
	formata a caixinha de busca
*/
	.busca input[type=search] {
    	width: 170px;
    	border-top-left-radius: 4px;
 		border-top-right-radius: 4px;
 	}

	/*empurra as caixas para a esquerda*/
	 .busca,
	 .menu-departamentos {
	     float: left;
	 }

	/*permite que uma caixa não sobreponha a outra, empurrando para a direita, mas ficam as duas alinhadas a esquerda*/
	 .menu-departamentos {
	     clear: left;
	     margin-top: 10px;
	 }

	 /*personaliza o menu interno*/
	 .menu-departamentos li li a:before {
	 	content: '\2730';
	 	padding-right: 3px;
	 }
	/*fim menu departamentos*/

	.painel {
		margin: 10px 0;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 1px 1px 4px #999;
		box-shadow: inset 1px 1px 4px #999;
	}

	.painel li:hover {
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 5px #333;
		transition: 0.7s ease-in;

		transform: scale(1.2) rotate(-5deg); /*transforma em algum parametro, no caso escala*/
	'	
	}

	.painel li:nth-child(2n):hover {
		transform: scale(1.2) rotate(5deg); 
	}
	/*faz a caixa flutuar a esquerda*/
	.novidades {
		float: left;
		background-color: #F5DCDC;
		background: linear-gradient(#F5DCDC, #BEBEF4);
	}

	/*faz a caixa flutuar a direita*/
	.mais-vendidos {
		float: right;
		background-color: #DCDCF5;
		background: linear-gradient(#DCDCF5, #F4BEBE);

	}

	/*alinha a lista ordenada de itens, acima, usando o modo de visualização em linha e em blocos de acordo com o espaço e estabelece o padding e as margens*/
	.painel li {
		display: inline-block;
		vertical-align: top;
		width: 140px;

		margin: 2px;
		padding-bottom: 10px;
		transition: 0.7s ease-out;

	}

	/*formata os titulos h2 com tamanho 24, peso e maiusculas. */
	.painel h2 {
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;

		margin: 0px 0px;

		text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8);
	}

	/*personaliza os titulos dos quadros novidades e */
	.painel h2:before {
		content: '\2756';
		padding-right: 5px;
		opacity: 0.4;
	}

	/*organiza os links de painel com uma cor mais agradavel aos olhos, alimnhamento, tamanho e decoração*/
	.painel a {
		color: #333;
		font-size: 14px;
		text-align: center;
		text-decoration: none;
	}
